@import "../../global.scss";

.card-body {
  width: 100%;
}

.form-card {
  display: flex;
  justify-content: center;
  background-color: $mainColor;
  height: 100vh;

  @include mobile {
    width: 100%;
  }
}

.input-form {
  color: #000;
  text-align: left;
}

.form-card h1 {
  margin-bottom: 20px;
}

.form-card a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.form-card p {
  margin: 10px 0;
}

.form-card input {
  width: 100%;
}

.form-card button:hover {
  color: #fff;
  font-weight: 600;
}

.error-message {
  text-align: center;
  color: #fff;
  font-weight: 600;
  background-color: tomato;
  border-radius: 4px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 80% !important;

  @include mobile {
    width: 90% !important;
  }
}
