.AddCatergory {
  width: 100%;
}

.AddCatergory input {
  text-align: left;
  width: 65%;
  margin: 10px 0;
  border-radius: 10px;
  border-style: none;
  padding: 0 5px;
}

.AddCatergory input:focus {
  outline: none;
}

.AddCatergory button {
  width: 50%;
  border-radius: 10px;
  background-color: black;
  border-color: black;
  color: white;
  margin-bottom: 10px;
}

.AddCatergory button:hover {
  border-radius: 10px;
  border-color: white;
  border-style: solid;
}
