.AddCatergory input {
  width: 130px;
  margin: 0 20px;
  border-radius: 10px;
  border-style: none;
}

.AddCatergory button {
  background-color: black;
  border-color: black;
  color: white;
}

.AddCatergory button:hover {
  border-radius: 10px;
  border-color: white;
  border-style: solid;
}
