@import "../../global.scss";

.edit-card {
  max-width: 800px;
  border-radius: 4px;
  margin: 150px 0 0 400px;
  transition: all 1s ease;
  box-shadow: 0px 2px 2px gray;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    width: 200px;
  }

  &.active {
    margin-left: 100px;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.input-field {
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.edit-input {
  display: flex;

  @include mobile {
    flex-direction: column;
  }
}

.edit-input label {
  margin: 0;
  padding: 0;
}

.edit-input input {
  margin: 0;
  padding: 0;
  max-height: 24px;
}

.edit-input select {
  margin: 0;
  padding: 0;
  max-height: 24px;
}

.edit-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.edit-description textarea {
  width: 80%;
  max-height: 100px;

  @include mobile {
    font-size: 12px;
    height: 100px;
  }
}

.edit-btn {
  display: flex;
  justify-content: center;
}

.edit-btn button {
  margin: 30px;
  border-style: none;
  background-color: transparent;
}

.deadline-input input {
  max-width: 135px;
}
