body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);
  overflow-x: hidden;
  padding-top: 20px;
  color: var(--secondary-font-color);
}

.sidenav h1 {
  margin: 50px 0;
}

.sidenav label {
  margin: 10px 0;
}

.sidenav button {
  background-color: transparent;
  border-color: Transparent;
  color: var(--secondary-font-color);
}

.sidenav button:hover {
  border-style: solid;
  border-color: var(--main-font-color);
  border-radius: 20px;
}

.category-field a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.category-field a:hover {
  color: #818181;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.category-sidebar a {
  font-size: 18px;
}
.category-sidebar p {
  margin: 0;
}

.category-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  align-content: flex-end;
  background-color: white;
  padding: 5px;
  margin: 15px;
  border-radius: 20px;
  height: 30px;
}

.category-field button {
  border-style: none;
  background-color: Transparent;
  color: black;
}

.category-field button:hover {
  color: #818181;
}

.logo-image-sidenav {
  text-decoration: none;
  color: black;
  background-color: var(--main-font-color);
  border-radius: 20px;
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5000px;
}

.logo-image-sidenav a {
  color: black;
  text-decoration: none;
}

.logo-image-sidenav img {
  height: 40px;
}

.logo-image-sidenav a:hover {
  color: black;
}

.sidenav-border {
  padding: 5px;
}
