$mainColor: #301b3f;
$bgColor: #21325e;
$mainFontColor: #02a676;
$secondaryFontColor: #fff;
$thirdFontColor: #6d6b6b;

$width: 768px;
$smallDevice: 568px;

@mixin mobile {
  @media (max-width: $width) {
    @content;
  }
}

@mixin smallDevice {
  @media (max-width: $smallDevice) {
    @content;
  }
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}
