/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=JetBrains+Mono:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,300&family=PT+Sans:wght@400;700&family=Roboto:wght@500&display=swap");

* {
  font-family: "Inter", sans-serif;
}

:root {
  --main-bg-color: #183e6d;
  --secondary-bg-color: #092241;
  --table-bg-color: #94a7c8;
  --main-font-color: #6d6b6b;
  --secondary-font-color: #ffffff;
}

body {
  margin: 0;
}

label {
  display: block;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.AddTask {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.EditProjectPage form,
.AddTask form,
.AddProject form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddTask button,
.AddProject button {
  display: block;
}

.TaskCard {
  background-color: #dfeef9;
}
