@import "../../global.scss";

hr {
  width: 50%;
  height: 5px !important;
  border-radius: 5px;
  margin: 100px 0 !important;
  color: var(--secondary-font-color) !important;

  @include mobile {
    display: none;
  }
}

.home-page-not-loggedin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

.profile-img-wrapper {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 2px solid black;
  background-color: rgba(216, 19, 19, 0.3);
  color: white;
  font-weight: bold;
  font-size: 1.8em;
}

.title-bg {
  width: 100%;
  height: 100%;
}

.homepage-title h1 {
  width: 150px;
  font-style: italic;
  background-color: #fff;
  transform: skew(9deg, 0deg);
}

/** first-container */

.first-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  margin-top: 100px;

  @include mobile {
    display: none;
  }
}

/** why timex */

.why-timex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;

  @include mobile {
    height: 100vh;
    flex-direction: column;
    margin: 20px 0 20px 0;
  }
}

.why-timex p {
  text-align: left;
}

.why-timex-text {
  margin: 50px;
}
.why-timex h2 {
  font-weight: 600;
  margin-bottom: 50px;
  text-align: left;
}
.why-timex-img img {
  object-fit: cover;
  width: 400px;
  height: 300px;
  border-radius: 30px;
  margin: 100px 0 50px 0;

  @include mobile {
    width: 350px;
    height: 160px;
    margin: 20px 0;
  }

  @include smallDevice {
    width: 300px;
    height: 150px;
  }
}

.carousel-indicators button {
  color: transparent;
}

.carousel-caption h3 {
  color: black;
  font-size: 4rem;
  font-weight: 600;
}

.carousel-caption p {
  color: transparent;
  margin-bottom: 100px;

  @include mobile {
    margin-bottom: 0;
  }
}

.carousel {
  position: relative;
  max-width: 1200px;
  max-height: 600px;
  min-width: 1200px;
  min-height: 600px;
}

.carousel-item-end,
.carousel-item-prev,
.carousel img {
  max-width: 1200px;
  max-height: 600px;
  opacity: 0.7;

  @include mobile {
    max-width: 350px;
    max-height: 160px;
  }

  @include smallDevice {
    width: 300px;
    height: 130px;
  }
}

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
}

.plans h2 {
  margin-bottom: 50px;
  font-weight: 600;

  @include mobile {
    text-align: left;
  }
}

.plans p {
  width: 30%;
  line-height: 50px;

  @include mobile {
    text-align: left;
    width: 80%;
  }
}

.container-how-to-do {
  display: flex;

  @include mobile {
    padding: 20px 0;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.container-how-to-do img {
  object-fit: cover;
  width: 400px;
  height: 300px;
  border-radius: 30px;

  @include mobile {
    width: 350px;
    height: 200px;
  }

  @include smallDevice {
    width: 300px;
    height: 150px;
  }
}

.how-to-do {
  margin: 0 0 50px 50px;
  color: var(--secondary-font-color);
}

.how-to-do h2 {
  text-align: left;
  margin-bottom: 50px;
  font-weight: 600;
}

.how-to-do p {
  text-align: left;

  @include mobile {
    margin-bottom: 0;
    font-weight: 200;
  }
}

.home-loggedin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 0 350px;
  transition: all 1s ease;

  @include mobile {
    margin: 100px 0 0 50px;
  }

  &.active {
    margin-left: 50px;
  }

  .home-loggedin-img {
    flex: 4;
    opacity: 0.5;
    border-radius: 20px;
  }

  .home-loggedin-img img {
    height: 300px;
    width: 450px;

    @include mobile {
      height: 200px;
      width: 300px;
    }

    @include smallDevice {
      width: 250px;
      height: 150px;
    }
  }

  .loggedin-plans {
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
  }

  .loggedin-plans h2 {
    margin: 30px 0;
    font-weight: 600;
  }

  .loggedin-plans p {
    width: 40%;

    @include mobile {
      width: 80%;
    }
  }
}
